name: CI Demon Tests
on: push

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v2.1.2
        with:
          node-version: 15.x
      - name: Install Dependencies
        run: yarn
      - name: Run tests
        run: yarn test
      # - name: Run tests
      #   uses: ospfranco/gh-jester@v1.0.13
      #   with:
      #     post-comment: true
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     GITHUB_CONTEXT: ${{ toJson(github) }}
